<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>

<body>
    <div th:insert="/owner/navegacion"></div>
    <div class="container-small">
        <h1>Actualizar producto</h1>
        <div class="solo-icono">
            <form action="/app/owner/inventario" method="post" id="formViewInventory">
				<input type="hidden" name="id" id="id">
                <button class="btn-navegacion-barra" type="button" onclick="viewInventory()">
                    <img class="login-img" src="/img/volver.webp"> Volver
                </button>
            </form>
        </div>
        <div id="alertas"></div>
        <div class="formulario">
        </div>
    </div>
</body>
<script src="/js/inventory.js"></script>
<script src="/js/utilidades.js"></script>
<script src="/js/logout.js"></script>
</html>