<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>

<body>
    <div th:insert="/owner/navegacion"></div>
    <div class="container-small">
        <h1>Actualizar producto</h1>
        <div class="solo-icono">
            <form action="/app/owner/inventario" method="post" id="formViewInventory">
				<input type="hidden" name="id" id="id">
                <button class="btn-navegacion-barra" type="button" onclick="viewInventory()">
                    <img class="login-img" src="/img/volver.webp"> Volver
                </button>
            </form>
        </div>
        <div id="alertas"></div>
        <div class="formulario">
            <form>
                <label>
                    <input type="text" placeholder="Nombre del producto" id="nombre" th:value="${inventory.inventory_name}">
                    <span>Nombre del producto</span>
                </label>
                <label>
                    <input type="number" placeholder="" id="precio" th:value="${inventory.price}">
                    <span>Precio del producto</span>
                </label>
                <label>
                    <input type="file" placeholder="" id="imagen" accept="image/*">
                    <span>Imagen del producto</span>
                </label>
                <label>
                	<p>Imagen Actual</p>
                	<img th:src="@{'/Inventario/' + ${inventory.imagen}} + .jpg">
                </label>
                <label>
                    <input type="number" id="cantidad" placeholder="" th:value="${inventory.store}">
                    <span>Cantidad del producto</span>
                </label>
                <button id="btn-actualizar" class="btn-formulario btn-principal" type="button">Actualizar</button>
            </form>
        </div>
    </div>
</body>
<script src="/js/inventory.js"></script>
<script src="/js/utilidades.js"></script>
<script src="/js/logout.js"></script>
</html>