<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>

<body>
    <div th:insert="/owner/navegacion"></div>
    <div class="container-small">
        <h1>Agregar producto</h1>
        <div class="formulario">
            <form method="post">
                <label>
                    <input type="text" placeholder="Producto">
                    <span>Producto</span>
                </label>
                <label>
                    <input type="file" placeholder="Imagen" accept="image/*">
                    <span>Imagen</span>
                </label>
                <label>
                    <input type="number" placeholder="Precio">
                    <span>Precio</span>
                </label>
                <button class="btn-secundario">Añadir</button>
            </form>
        </div> <!-- Formulario -->

    </div>
</body>
</html>