<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head>
    <title>Esthetic Reservations</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/Logo.webp" />
    <link href="/css/app.css" rel="stylesheet" type="text/css">
    <script src="/js/vendor/jquery/jquery-3.6.1.min.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script src="/js/util.js" type="text/javascript"></script>
    <script src="/js/vendor/datatables/languageMX.js"></script>
    <script src="/js/ApiUtils.js"></script>
    <script src="https://unpkg.com/qrious@4.0.2/dist/qrious.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--<link href="/css/bootstrap.css" rel="stylesheet">-->
    <!--<script src="/js/bundle.min.js"></script>-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script src="/js/vendor/sweetalert2/sweetalert2.all.min.js"></script>
</head>


<body>
    <div th:insert="/owner/navegacion"></div>
    <div class="container-small">
        <h1 id="accion-producto">Agregar producto</h1>
        <div class="solo-icono">
            <form action="/app/owner/inventario">
                <button class="btn-navegacion-barra" type="submit">
                    <img class="login-img" src="/img/volver.webp"> Volver
                </button>
            </form>
        </div>
        <div id="alertas"></div>
        <div class="formulario">
            <form id="form">
                <label>
                    <input type="text" placeholder="Nombre del producto" id="nombre">
                    <span>Nombre del producto</span>
                </label>
                <label>
                    <input type="number" placeholder="" id="precio">
                    <span>Precio del producto</span>
                </label>
                <label>
                    <input type="file" placeholder="" id="imagen" accept="image/*">
                    <span>Imagen del producto</span>
                </label>
                <label id="store">
                    <input type="number" id="cantidad" placeholder="">
                    <span>Cantidad del producto</span>
                </label>
                <button id="btn-agregar" class="btn-formulario btn-principal" type="button">Añadir</button>
            </form>
        </div>
    </div>
</body>
<script src="/js/inventory_create.js"></script>
<script src="/js/logout.js"></script>
</html>