<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/generics/header"></head>
<body>
    <style>
        .no-mostrar{
            display: none;
        }
        .mostrar{
            display: block;
        }
    </style>
    <div class="owner-inventory">
        <div th:insert="owner/title"></div>
        <div>
            <div th:insert="owner/navegation"></div>
            <div class="btn-new-product">
                <button class="btn-principal trigger-modal" data-action="add" data-target="-1">Agregar nuevo producto</button>
            </div>
            <div class="title-inventory">
                <div class="center"><h1>Nombre</h1></div>
                <div class="center"><h1>Imagen</h1></div>
                <div class="center"><h1>Precio</h1></div>
                <div class="center"><h1>Cantidad</h1></div>
                <div class="center"><h1>Acciones</h1></div>
            </div>
            <div class="show-inventory" id="mostrar-productos">
                
            </div>
        </div>
    </div>
    <div class="modal-overlay no-mostrar" id="modal-new-service">
        <div class="modal-form">
            <div class="volver-img">
                <button class="btn-volver-img">
                    <img class="filter" src="/img/volver.webp" onclick="removeModal()">
                </button>
            </div>
            <div id="modal-header">
            </div>
            <div id="alertas"></div>
            <div id="modal-content">
            </div>
        </div>
    </div>
</body>
<script src="/js/ApiUtils.js"></script>
<script src="/js/inventory.js"></script>
<script src="/js/owner-directions.js"></script>
<script src="/js/logout.js"></script>
</html>