<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>
<body>
    <div class="owner-inventory">
        <div th:insert="owner/title"></div>
        <div>
            <div th:insert="owner/navegation"></div>
            <div class="owner-validate">
                <button class="btn-principal" id="readQr">Leer Código QR</button>
                <div>
                    <video id="webcam"></video>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/owner.js"></script>
<script src="/js/qr.js"></script>
<script src="/js/owner-directions.js"></script>
<script src="/js/logout.js"></script>
</html>