<div id="alertas"></div>
<form id="branchesForm" class="row g-3" action="#" onsubmit="return false" method="POST">
    <div class="col-md-6">

        <div class="col-md-12">
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-text-left"></i>
                </span>
                <div class="form-floating">
                    <input type="text" class="form-control" id="branch-name" name="branch-name"
                        placeholder="Nombre de la sucursal" aria-label="branchName">
                    <label for="branch-name" class="form-label">Nombre</label>
                </div>
            </div>
            <div id="branchNameFeedback" class="invalid-feedback d-block">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-person-gear"></i>
                </span>
                <div class="form-floating">
                    <select id="select-owner" name="select-owner" class="form-select" aria-label="owner">
                    </select>
                    <label for="select-owner" class="form-label">Dueño</label>
                </div>
            </div>
            <div id="ownerFeedback" class="invalid-feedback d-block">

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-pin-map-fill"></i>
                </span>
                <button class="btn btn-outline-primary" type="button" id="search-location" data-bs-toggle="modal"
                data-bs-target="#searchLocationForm">
                    <i class="bi bi-search"></i> Buscar ubicación
                </button>
                <div class="form-floating">
                    <input type="text" class="form-control" id="branch-location" name="branch-location"
                        placeholder="Dirección de la sucursal" aria-label="location" data-lat="x" data-lon="x" readonly>
                    <label for="branch-location" class="form-label">Dirección</label>
                </div>
            </div>
            <div id="locationFeedback" class="invalid-feedback d-block">

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="col-md-12">
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-brightness-high-fill"></i>
                </span>
                <div class="form-floating">
                    <input type="text" class="form-control timepicker" id="branch-open" name="branch-open"
                        placeholder="Hora de apertura" aria-label="scheduleOpen">
                    <label for="branch-open" class="form-label">Hora de Apertura</label>
                </div>
            </div>
            <div id="scheduleOpenFeedback" class="invalid-feedback d-block">

            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <div class="input-group mb-3">
                <span class="input-group-text">
                    <i class="bi bi-moon-fill"></i>
                </span>
                <div class="form-floating">
                    <input type="text" class="form-control timepicker" id="branch-close" name="branch-close"
                        placeholder="Hora de cierre" aria-label="scheduleClose">
                    <label for="branch-close" class="form-label">Hora de Cierre</label>
                </div>
            </div>
            <div id="scheduleCloseFeedback"branchesTable class="invalid-feedback d-block">

            </div>
        </div>
    </div>

    <div class="col-md-12">

        <div id="employeesdiv" class="col-md-9 container">
            <label for="employeesTable" class="fw-bold fs-5">Empleados...</label>
            <div id="employeesFeedback" class="invalid-feedback d-none"></div>
            <table class="table" id="employeesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Empleado</th>
                        <th>Nombre</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Empleado</th>
                        <th>Nombre</th>
                        <th>Username</th>
                    </tr>
                </tfoot>
                <tbody id="employeeTableBody">
                </tbody>
            </table>
        </div>

    </div>

    <div class="col-12">
        <button type="submit" id="btnModal" class="btn btn-primary fw-bold">Confirmar</button>
        <div id="formFeedback" class="col-md-10 invalid-feedback d-none fw-bold">Revisa el formulario.</div>
    </div>
</form>