<div class="navegacion">

</div>
<div class="sidebar-admin">
    <h1>Esthetic</h1>
    <div class="sidebar-admin-btn">
        <form action="/app/admin/sucursales">
            <button class="btn-principal">Ver sucursales</button>
        </form>
    </div>
    <div class="sidebar-admin-btn">
        <form action="/app/admin">
            <button class="btn-principal">Ver usuarios</button>
        </form>
    </div>
    <div class="cerrar-sesion">
        <form action="/app/">
            <button class="btn-secundario">Cerrar sesion</button>
        </form>
    </div>
</div> <!-- Sidebar -->