<div class="navegacion">

</div>
<div class="sidebar-admin">
    <h1>Esthetic</h1>
    <div class="sidebar-admin-btn">
        <form action="/app/admin/sucursales">
            <button class="btn-secundario">Ver sucursales</button>
        </form>
    </div>
    <div class="sidebar-admin-btn">
        <form action="/app/admin">
            <button class="btn-secundario">Ver usuarios</button>
        </form>
    </div>
    <button id="btn-cerrar-sesion" class="btn-navegacion-barra" type="button">
        <img class="login-img filtro-img" src="/img/salir.webp"> Cerrar sesion
    </button>
</div> <!-- Sidebar -->