<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head>
    <title>Esthetic Reservations</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/Logo.webp" />
    <link href="/css/app.css" rel="stylesheet" type="text/css">
    <script src="/js/vendor/jquery/jquery-3.6.1.min.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script src="/js/util.js" type="text/javascript"></script>
    <script src="/js/vendor/datatables/languageMX.js"></script>
    <script src="/js/ApiUtils.js"></script>
    <script src="https://unpkg.com/qrious@4.0.2/dist/qrious.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--<link href="/css/bootstrap.css" rel="stylesheet">-->
    <!--<script src="/js/bundle.min.js"></script>-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
        integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
        integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script src="/js/vendor/sweetalert2/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="/css/vendor/bootstrap-icons/font/bootstrap-icons.css">
</head>

<body>
    <style>
        .no-mostrar {
            display: none;
        }

        .mostrar {
            display: block;
        }

        .modal-overlay {
            overflow: auto;
        }

        .modal-overlay .modal-form {
            width: 60%;
        }
        .star-comment {
            color: blueviolet;
            cursor: pointer;
        }
    </style>
    <main>
        <div class="appointment">
            <div class="title">
                <h1 class="title-p">Mis citas</h1>
                <img src="/img/Productos-venta.webp">
            </div>
            <div class="appointment-aux">
                <div class="volver-img">
                    <button class="btn-volver-img" onclick="volver()">
                        <img class="filter" src="/img/volver.webp">
                    </button>
                </div>
                <div class="filter-appintment-purchase">
                    <div class="filter-all">
                        <input type="radio" name="filtro" id="filterTodo" checked>
                        <label for="filterTodo">Todos</label>
                    </div>
                    <div class="filter-appointment">
                        <input type="radio" name="filtro" id="filterAppointment">
                        <label for="filterAppointment">Reservaciones</label>
                    </div>
                    <div class="filter-purchase">
                        <input type="radio" name="filtro" id="filterSale">
                        <label for="filterSale">Compras</label>
                    </div>
                </div>
                <div class="scroll-appointment" id="appointment-services"></div>
            </div>
        </div>
    </main>
</body>
<!-- Modal para la reseña -->
<div class="modal-overlay no-mostrar" id="modal-new-comment">
    <div class="modal-form">
        <div class="volver-img">
            <button class="btn-volver-img" onclick="removeModal()">
                <img class="filter" src="/img/volver.webp">
            </button>
        </div>
        <h1>Reseña</h1>
        
        <form>
            <div class="field">
                <p>Deja saber tus comentarios a <span id="emp-name"></span></p>
            </div>
            <div class="field">
                <p>¿Cómo fue tu experiencia con el servicio: <span id="service-name"></span>?</p>
            </div>
            <div class="field">
                <label for="stars">Calificación: </label>
                <div class="stars-comment" id="stars">
                    <i class="bi bi-star star-comment" data-value="1"></i>
                    <i class="bi bi-star star-comment" data-value="2"></i>
                    <i class="bi bi-star star-comment" data-value="3"></i>
                    <i class="bi bi-star star-comment" data-value="4"></i>
                    <i class="bi bi-star star-comment" data-value="5"></i>
                </div>
                <input type="hidden" id="rating" value="0">
            </div>
            <div class="field">
                <label for="review">Reseña:</label>
                <textarea id="review" name="review"></textarea>
            </div>
            <button id="btn-action" class="btn-principal btn-action" data-action="add" data-target="-1" type="button">Dejar comentario</button>
        </form>
    </div>
</div>
<!-- <script src="/js/logout.js"></script> -->
<!-- <script src="/js/client_dashboard.min.js"></script> -->
<script src="/js/client_appointment.js"></script>

</html>