<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>

<body>
    <div class="client">
        <div th:insert="/client/navegacion"></div>
        <div class="container">
            <div class="cliente">
                <scroll-page id="servicios-scroll">
                    <div class="div-btn-volver">
                        <form action="/">
                            <button class="btn-volver">Volver</button>
                        </form>
                    </div>
                </scroll-page>
                <h1>Servicios</h1>
                <div class="servicios" id="servicios"></div>
                <scroll-page id="inventario-scroll">
                    <h1 class="titulo-nav">Inventario</h1>
                </scroll-page>
                <div class="inventario" id="inventario"></div>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
                <p style="margin: 0;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus facere sint nostrum quis iste voluptatum perferendis, odit ratione provident error, placeat quisquam itaque! Obcaecati distinctio maxime, similique animi quas exercitationem.</p>
            </div>
        </div>
    </body>
    </div>
<script src="/js/client.min.js"> </script>
<script src="/js/logout.js"></script>
</html> 