<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>

<body>
    <div class="client">
        <div th:insert="/client/navegacion-top"></div>
        <div th:insert="/client/navegacion-bottom"></div>
        <div class="cliente">
            <h1>Servicios</h1>
            <div class="servicios" id="servicios"></div>
            <h1>Inventario</h1>
            <div class="inventario" id="inventario"></div>
        </div>
    </body>
    </div>
<script src="/js/client.min.js"> </script>
<script src="/js/logout.js"></script>
</html> 