<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>
<body>
    <main>
        <div class="dashboard">
            <nav class="nav-selection">
                <div class="logo-dashboard">
                    <img src="/img/logo.webp">
                </div>
                <div class="shortcuts"> 
                    <button id="appointment" class="btn-shortcut">Mis citas</button>
                </div>
                <div class="user-interaction">
                    <div class="user-animation">
                        <button id="btn-editar-usuario">
                            <img class="login-img" src="/img/login.webp">
                        </button>
                    </div>
                    <div class="options-animation">
                        <img src="/img/barras.webp">
                        <div id="actions" class="actions">
                            <div class="window-options">
                                <div class="option-menu luna" >
                                    <img class="login-img dark-mode-boton" src="/img/luna.webp">
                                    <p>Modo oscuro</p>
                                </div>
                                <div class="option-menu no-mostrar sol">
                                    <img class="login-img ligth-mode-boton" src="/img/soleado.webp">
                                    <p>Modo claro</p>
                                </div>
                                <div class="option-menu">
                                    <button id="btn-cerrar-sesion" class="btn-logout" type="button">
                                        <img src="/img/salir.webp">
                                        <p>Cerrar sesion</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="windows">
                <div class="option-client" id="products">
                    <h1 class="title-dashboard">Productos</h1>
                    <img src="/img/productos.webp">
                </div>
                <div class="option-client" id="services">
                    <h1 class="title-dashboard">Servicios</h1>
                    <img src="/img/servicios.webp">
                </div>
                <div class="option-client" id="employees">
                    <h1 class="title-dashboard">Encargados</h1>
                    <img src="/img/encargados.webp">
                </div>
                <div class="option-client" id="reservation">
                    <h1 class="title-dashboard">Reservar</h1>
                    <img src="/img/reservar.webp">
                </div>
            </div>
            <div class="container-options">

            </div>
        </div>
    </main>
</body>
<script src="/js/logout.js"></script>
<script src="/js/client_dashboard.js"></script>
<!-- <script src="/js/client_appointment.js"></script> -->
</html>