<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head>
    <title>Esthetic Reservations</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/Logo.webp" />
    <link href="/css/app.css" rel="stylesheet" type="text/css">
    <script src="/js/vendor/jquery/jquery-3.6.1.min.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script src="/js/util.js" type="text/javascript"></script>
    <script src="/js/vendor/datatables/languageMX.js"></script>
    <script src="/js/ApiUtils.js"></script>
    <script src="https://unpkg.com/qrious@4.0.2/dist/qrious.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--<link href="/css/bootstrap.css" rel="stylesheet">-->
    <!--<script src="/js/bundle.min.js"></script>-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script src="/js/vendor/sweetalert2/sweetalert2.all.min.js"></script>
</head>

<body>
    <main>
        <nav class="nav-selection">
            <div class="logo-nav">
                <img src="/img/logo.webp">
            </div>
            <div class="user-interaction-phone">
                <div class="option-menu-phone luna-phone" >
                    <img class="login-img dark-mode-boton-phone filter" src="/img/luna.webp">
                    <p>Modo oscuro</p>
                </div>
                <div class="option-menu-phone no-mostrar sol-phone">
                    <img class="login-img ligth-mode-boton-phone filter" src="/img/soleado.webp">
                    <p>Modo claro</p>
                </div>
                <div class="option-menu-phone">
                    <button id="btn-cerrar-sesion-phone" class="btn-logout" type="button">
                        <img src="/img/salir.webp" class="filter">
                        <p>Cerrar sesion</p>
                    </button>
                </div>
            </div>
            <div class="menu-phone no-mostrar" id="menuPhone">
                <img class="img-phone filter" src="/img/barras.webp">
                <div class="menu-shortCuts no-mostrar" id="menuShortCuts">
                    <div class="dashboard-Phone">
                        <div class="shortcuts-menuPhone">
                            <button id="appointment-phone" class="filter btn-shortcut-menuPhone">Mis citas</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shortcuts"> 
                <button id="appointment" class="btn-shortcut">Mis citas</button>
            </div>
            <div class="user-interaction">
                <div class="options-animation">
                    <img src="/img/barras.webp" class="filter barras">
                    <div id="actions" class="actions">
                        <div class="window-options">
                            <div class="option-menu luna" >
                                <img class="login-img dark-mode-boton" src="/img/luna.webp">
                                <p class="filter">Modo oscuro</p>
                            </div>
                            <div class="option-menu no-mostrar sol">
                                <img class="login-img ligth-mode-boton" src="/img/soleado.webp">
                                <p class="filter">Modo claro</p>
                            </div>
                            <div class="option-menu">
                                <button id="btn-cerrar-sesion" class="btn-logout" type="button">
                                    <img src="/img/salir.webp" class="">
                                    <p class="filter">Cerrar sesion</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="dashboard">
            <div class="volver-img">
                <button class="btn-volver-img" id="btn-volver-dashboard">
                    <img class="filter" src="/img/volver.webp">
                </button>
            </div>
            <div class="windows">
                <div class="option-client" id="products">
                    <h1 class="title-dashboard">Productos</h1>
                    <img src="/img/productos.webp">
                </div>
                <div class="option-client" id="services">
                    <h1 class="title-dashboard">Servicios</h1>
                    <img src="/img/servicios.webp">
                </div>
                <div class="option-client" id="employees">
                    <h1 class="title-dashboard">Encargados</h1>
                    <img src="/img/encargados.webp">
                </div>
                <div class="option-client" id="reservation">
                    <h1 class="title-dashboard">Reservar</h1>
                    <img src="/img/reservar.webp">
                </div>
            </div>
            <div class="container-options">

            </div>
        </div>
    </main>
</body>
<script src="/js/logout.js"></script>
<script src="/js/client_dashboard.js"></script>
</html>