<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>
<body>
    <main>
        <div class="manager">
            <h1>Encargados</h1>
            <div class="manager-info">
                <img class="img-manager" src="/img/avatar-de-usuario.webp">
                <div class="description">
                    <p>Guadalupe camacho</p>
                    <span>Correo electronico</span>
                    <span>Ubicacion de su establecimiento</span>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/js/client_products.js"> </script>
<script src="/js/logout.js"></script>
</html>