<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
<body>
    <main>
        <div class="manager">
            <form action="dashboard">
                <button class="btn-secundario">Volver</button>
            </form>
            <h1>Encargados</h1>
            <div class="infos">
                <div class="manager-info">
                    <img class="img-manager" src="/img/avatar-de-usuario.webp">
                    <div class="description">
                        <p>Guadalupe camacho</p>
                        <span>Correo electronico</span>
                        <span>Ubicacion de su establecimiento</span>
                    </div>
                    <div class="stars">
                        <i class="bi bi-star-fill star" id="star_id"></i>
                        <i class="bi bi-star-fill star" id="star_id"></i>
                        <i class="bi bi-star-fill star" id="star_id"></i>
                        <i class="bi bi-star-fill star" id="star_id"></i>
                        <i class="bi bi-star-fill star" id="star_id"></i>
                    </div>
                </div>
                <div class="last-comment">
                    <div class="model">
                        <div class="name-rating">
                            <!-- Nombre de la ultima persona que puntuo este empleado  -->
                            <p>José Eduardo Valencia Camacho</p>
                            <div class="stars-comment">
                                <i class="bi bi-star-fill star-comment" id="star-comment_id"></i>
                                <i class="bi bi-star-fill star-comment" id="star-comment_id"></i>
                                <i class="bi bi-star-fill star-comment" id="star-comment_id"></i>
                                <i class="bi bi-star-fill star-comment" id="star-comment_id"></i>
                                <i class="bi bi-star-fill star-comment" id="star-comment_id"></i>
                            </div>
                        </div>
                        <!-- La fecha en la que se realizo la puntuacion -->
                        <div class="date-comment">
                            <p>1 de Enerdo del 2023</p>
                        </div>
                        <!-- Comentario de la persona -->
                        <div class="comment">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea odio at eveniet dolores, error reprehenderit sit eum sed, nulla minima totam ipsam ipsa repudiandae maiores voluptatum consequuntur optio quasi itaque.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Este repite, es para comprobar la funcionalidad con los ID´s que viene de la base -->
            <div class="infos">
                <div class="manager-info">
                    <img class="img-manager" src="/img/avatar-de-usuario.webp">
                    <div class="description">
                        <p>Guadalupe camacho</p>
                        <span>Correo electronico</span>
                        <span>Ubicacion de su establecimiento</span>
                    </div>
                    <div class="stars">
                        <i class="bi bi-star-fill star" id="star_id2"></i>
                        <i class="bi bi-star-fill star" id="star_id2"></i>
                        <i class="bi bi-star-fill star" id="star_id2"></i>
                        <i class="bi bi-star-fill star" id="star_id2"></i>
                        <i class="bi bi-star-fill star" id="star_id2"></i>
                    </div>
                </div>
                <div class="last-comment">
                    <div class="model">
                        <div class="name-rating">
                            <!-- Nombre de la ultima persona que puntuo este empleado  -->
                            <p>José Eduardo Valencia Camacho</p>
                            <div class="stars-comment">
                                <i class="bi bi-star-fill star-comment" id="star-comment_id2"></i>
                                <i class="bi bi-star-fill star-comment" id="star-comment_id2"></i>
                                <i class="bi bi-star-fill star-comment" id="star-comment_id2"></i>
                                <i class="bi bi-star-fill star-comment" id="star-comment_id2"></i>
                                <i class="bi bi-star-fill star-comment" id="star-comment_id2"></i>
                            </div>
                        </div>
                        <!-- La fecha en la que se realizo la puntuacion -->
                        <div class="date-comment">
                            <p>1 de Enerdo del 2023</p>
                        </div>
                        <!-- Comentario de la persona -->
                        <div class="comment">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea odio at eveniet dolores, error reprehenderit sit eum sed, nulla minima totam ipsam ipsa repudiandae maiores voluptatum consequuntur optio quasi itaque.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/js/manager.js"> </script>
<!-- <script src="/js/logout.js"></script> -->
</html>