<div class="nav-top">
    <p id="nombre-sucursal" class="text-center text-white"></p>
    <p id="nombre-usuario" class="text-center text-white"></p>
    <div class="animacion-menu">
        <img src="/img/barras.webp">
        <div id="acciones" class="acciones">
            <div class="opciones-menu btn-navegacion-barra" >
                <img class="login-img dark-mode-boton" src="/img/luna.webp">
                <p>Modo oscuro</p>
            </div>
            <div class="opciones-menu">
                <button id="btn-editar-usuario" class="btn-navegacion-barra" type="button">
                    <img class="login-img" src="/img/editar-usuario.webp">
                    <p>Editar usuario</p>
                </button>
            </div>
            <div class="opciones-menu">
                <button id="btn-inventario" class="btn-navegacion-barra" type="button">
                    <img class="login-img" src="/img/inventario.webp">
                    <p>Inventario</p>
                </button>
            </div>
            <div class="opciones-menu">
                <button id="btn-servicios" class="btn-navegacion-barra" type="button">
                    <img class="login-img" src="/img/servicios.webp">
                    <p>Servicios</p>
                </button>
            </div>
            <div class="opciones-menu">
                <button id="btn-cerrar-sesion" class="btn-navegacion-barra" type="button">
                    <img class="login-img" src="/img/salir.webp">
                    <p>Cerrar sesion</p>
                </button>
            </div>
        </div>
    </div>
</div> <!-- Nav Top -->