<div class="nav-top">
    <p class="text-center text-white">Nombre de la sucursal</p>
    <p class="text-center text-white">Nombre del usuario</p>
    <div class="animacion-menu">
        <img src="/img/barras.webp">
        <div id="acciones" class="acciones">
            <div class="opciones-menu">
                <img class="login-img dark-mode-boton" src="/img/luna.webp">
            </div>
            <div class="opciones-menu">
                <a href="/app/login">
                    <img class="login-img" src="/img/editar-usuario.webp">
                </a>
            </div>
            <div class="opciones-menu">
                <a id="btn-cerrar-sesion" href="/">
                    <img src="/img/salir.webp">
                </a>
            </div>
        </div>
    </div>
</div> <!-- Nav Top -->