<div class="navegacion">
    <div class="nav-top">
        <p class="text-center text-white" id="name_branch">Nombre de la sucursal</p>
        <p class="text-center text-white" id="name_user">Nombre del usuario</p>
        <div class="acciones">
            <form action="/app/editar-usuario">
                <button class="btn-secundario">Editar usuario</button>
            </form>
            <form action="/app/">
                <button class="btn-secundario">Cerrar sesion</button>
            </form>
        </div>
    </div> <!-- Nav Top -->
</div> <!-- Navegacion -->