<div class="nav-top">
    <p class="text-center text-white">Nombre de la sucursal</p>
    <p class="text-center text-white">Nombre del usuario</p>
    <div class="animacion-menu">
        <img src="/img/barras.webp">
        <div id="acciones" class="acciones">
            <div class="opciones-menu btn-navegacion-barra" >
                <img class="login-img dark-mode-boton" src="/img/luna.webp"> Dark Mode
            </div>
            <div class="opciones-menu">
                <button id="btn-editar-usuario" class="btn-navegacion-barra">
                    <img class="login-img" src="/img/editar-usuario.webp"> Editar usuario
                </button>
            </div>
            <div class="opciones-menu">
                <button id="btn-cerrar-sesion" class="btn-navegacion-barra" type="button">
                    <img class="login-img" src="/img/salir.webp"> Cerrar sesion
                </button>
            </div>
        </div>
    </div>
</div> <!-- Nav Top -->