<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>
<body>
    <main>
        <div class="reservation">
            <div class="title">
                <h1 class="title-p">Agendar cita</h1>
                <img src="/img/Productos-venta.webp">
            </div>
            <div class="calendar-time">
                <div class="calendar">
                    <div class="calendar-info">
                        <div class="prev" id="prev">&#9664</div>
                        <div class="month" id="month"></div>
                        <div class="year" id="year"></div>
                        <div class="next" id="next">&#9654</div>
                    </div>
                    <div class="calendar-week">
                        <div class="day" id="item">D</div>
                        <div class="day" id="item">L</div>
                        <div class="day" id="item">M</div>
                        <div class="day" id="item">M</div>
                        <div class="day" id="item">J</div>
                        <div class="day" id="item">V</div>
                        <div class="day" id="item">S</div>
                    </div>
                    <div class="calendar-dates" id="dates"></div>
                </div>
                <div class="time">
                    <p>¡Llegó la hora de agendar tu cita!</p>
                    <div class="model-time">
                        <div class="date-saved">
                            <h1>14</h1>
                            <h4>marzo 2023</h4>
                        </div>
                        <div class="select-time">
                            <div class="input-time">
                                <label>Selecciona la hora</label>
                                <input type="time" pattern="[1-12]{2}:[0-59] (am|pm|)">
                            </div>
                            <button class="btn-principal">Confirmar cita</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/js/client_reservation.js"> </script>
<!-- <script src="/js/logout.js"></script> -->
</html>