<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head>
    <title>Esthetic Reservations</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/Logo.webp" />
    <link href="/css/app.css" rel="stylesheet" type="text/css">
    <script src="/js/vendor/jquery/jquery-3.6.1.min.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script src="/js/util.js" type="text/javascript"></script>
    <script src="/js/vendor/datatables/languageMX.js"></script>
    <script src="/js/ApiUtils.js"></script>
    <script src="https://unpkg.com/qrious@4.0.2/dist/qrious.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--<link href="/css/bootstrap.css" rel="stylesheet">-->
    <!--<script src="/js/bundle.min.js"></script>-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script src="/js/vendor/sweetalert2/sweetalert2.all.min.js"></script>
</head>

<body>
    <main>
        <div class="reservation" id="paso-1">
            <div class="title">
                <h1 class="title-p">Agendar cita</h1>
                <img src="/img/Productos-venta.webp">
            </div>
            <div class="calendar-time">
                <div class="ca">
                    <div class="volver-img">
                        <button class="btn-volver-img" onclick="volver()">
                            <img class="filter" src="/img/volver.webp">
                        </button>
                    </div>
                    <div class="calendar">
                        <div class="calendar-info">
                            <div class="prev" id="prev">&#9664</div>
                            <div class="month" id="month"></div>
                            <div class="year" id="year"></div>
                            <div class="next" id="next">&#9654</div>
                        </div>
                        <div class="calendar-week">
                            <div class="day" id="item">D</div>
                            <div class="day" id="item">L</div>
                            <div class="day" id="item">M</div>
                            <div class="day" id="item">M</div>
                            <div class="day" id="item">J</div>
                            <div class="day" id="item">V</div>
                            <div class="day" id="item">S</div>
                        </div>
                        <div class="calendar-dates" id="dates"></div>
                    </div>
                </div>
                <div class="time"></div>
                <div class="btn-next">
                    <button class="btn-terciario" id="nextPage">Siguiente</button>
                </div>
            </div>
        </div>
        <div class="show-summary" id="paso-2" style="display: none;">
            <div class="title">
                <h1 class="title-p">Resumen</h1>
                <img src="/img/Productos-venta.webp">
            </div>
            <div class="summary">
                <div class="titles">
                    <h1 >Producto o Servicio</h1>
                    <h1 >Precio</h1>
                    <h1 >Cantidad</h1>
                    <h1 >Subtotal</h1>
                </div>
                <div class="container-show-summary"></div>
                <div class="result">
                    <div class="model-result">
                        <p>Tiempo estimado:</p>
                        <div class="model-time">
                            <span id="time-service">15 min</span>
                        </div>
                    </div>
                    <div class="model-result">
                        <p>Total:</p>
                        <div class="model-price-total">
                            <span id="price-total">$300.00</span>
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <button class="btn-terciario" id="previusPage">Anterior</button>
                    <button class="btn-principal" id="reservation">Confirmar</button>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/js/client_reservation.js"> </script>
<!-- <script src="/js/logout.js"></script> -->
</html>