<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="jquery-circle-progress/dist/circle-progress.js"></script> -->
<body>
    <main>
        <div class="services">
            <div class="title">
                <h1 class="title-p">Servicios</h1>
                <img src="/img/Productos-venta.webp">
            </div>
            <div class="time-cost-service">
                <div class="title-service">
                    <h4>Corte femenino</h4>
                </div>
                <div class="circular-time" id="circular-time">
                    <div class="value-time" id="value-time"></div>
                </div>
            </div>
            <div class="more-services">

            </div>
        </div>
    </main>
</body>
<!-- <script src="/js/client_services.js"> </script> -->
<!-- <script src="/js/logout.js"></script> -->
<script src="/js/client_services.js"></script>
</html>
