<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>

<body>
    <main>
        <div>
            <h1>Categorias</h1>
            <div>
                <h2>Cortes</h2>
                <p>Corte masculino</p>
                <p>Corte femenino</p>
                <p>Corte masculino con navaja</p>
                <p>Corte femenino con navaja</p>
            </div>
            <div>
                <h2>Peinados</h2>
                <p>Niñas</p>
                <p>Mujeres</p>
                <p>Bodas</p>
                <p>XV años</p>
            </div>
            <div>
                <h2>Barba</h2>
                <p>Detalles</p>
                <p>Lineas</p>
                <p>Tratamineto</p>
                <p>Tinte</p>
            </div>
            <div>
                <h2>Otros</h2>
                <p>Alaciados</p>
                <p>Mechas</p>
                <p>Bases</p>
                <p>Tintes</p>
            </div>
        </div>
    </main>
</body>
<!-- <script src="/js/client_services.js"> </script>
<script src="/js/logout.js"></script> -->
</html>
