<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>

<body>
    <div th:insert="/admin/navegacion"></div>
    <div class="container-admin">
        <div class="container-small">
            <h1>Agregar sucursal</h1>
            <div class="formulario">
                <form method="POST">
                    <label>
                        <input th:if="${branch.id_branch} != null" type="text" placeholder="Nombre" name="name" th:value="${branch.name]">
                        <input th:if="${branch.id_branch} == null" type="text" placeholder="Nombre" name="name">
                        <span>Nombre</span>
                    </label>
                    <label>
                        <input type="text" placeholder="Ubicacion" name="location">
                        <span>Ubicacion</span>
                    </label>
                    <label>
                        <select name="id_owner">
                            <option selected>Usuarios</option>
                            <option value="1">José Eduardo</option>
                        </select>
                        <span>Elegir dueña</span>
                    </label>
                    <button class="btn-principal">Añadir</button>
                </form>
            </div> <!-- Formulario -->
        </div>
    </div>
</body>
</html>