<div id="alertas"></div>
<form class="row g-3">
    <div class="col-md-12">
        <label for="branch-name" class="form-label">Nombre</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fs-4 bi bi-text-left"></i></span>
            <input type="text" class="form-control fs-4" id="branch-name" name="branch-name"
                placeholder="Nombre de la sucursal">
        </div>
    </div>
    <div class="col-md-12">
        <label for="branch-address" class="form-label">Dirección</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fs-4 bi bi-pin-map-fill"></i></span>
            <input type="text" class="form-control fs-4" id="branch-address"
                name="branch-address" placeholder="Dirección de la sucursal">
        </div>
    </div>
    <div class="col-md-12">
        <label for="branch-municipality" class="form-label">Municipio</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fs-4 bi bi-buildings-fill"></i></span>
            <input type="text" class="form-control fs-4" id="branch-municipality"
            name="branch-municipality" placeholder="Municipio de la sucursal">
        </div>
    </div>
    <div class="col-md-12">
        <label for="branch-state" class="form-label">Estado</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fs-4 bi bi-map-fill"></i></span>
            <input type="text" class="form-control fs-4" id="branch-state"
                name="branch-state" placeholder="Estado de la sucursal">
        </div>
    </div>
    <div class="col-md-12">
        <label for="select-owner" class="form-label">Dueño</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fs-4 bi bi-person-gear"></i></span>
            <select id="select-owner" class="form-select fs-4" aria-label="Dueño de la sucursal">
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <label for="branch-open" class="form-label">Hora de Apertura</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fs-4 bi bi-brightness-high-fill"></i></span>
            <input type="text" class="form-control fs-4 timepicker" id="branch-open" name="branch-open"
                placeholder="Hora de apertura">
        </div>
    </div>
    <div class="col-md-6">
        <label for="branch-close" class="form-label">Hora de Cierre</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fs-4 bi bi-moon-fill"></i></span>
            <input type="text" class="form-control fs-4 timepicker" id="branch-close"
                name="branch-close" placeholder="Hora de cierre">
        </div>
    </div>

    <div class="col-12">
        <button type="button" id="btnModal"
            class="btn btn-principal fs-4 p-3">Confirmar</button>
    </div>
</form>
