<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>

<body>
    <div th:insert="/admin/navegacion"></div>
    <div class="body-admin">
        <div class="container-admin">
            <h1>Sucursales</h1>
            <div class="btn-agregar">
                <form action="/app/admin/sucursales/agregar">
                    <button class="btn-secundario">Agregar una sucursal</button>
                </form>
            </div>
        </div>
    </div>
</body>
<script src="/js/logout.js"></script>
</html>