<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<link rel="stylesheet" href="/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/css/jquery.timepicker.min.css">
<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-icons/font/bootstrap-icons.css">
<style>
    input.form-control {
        font-size: 12px;
    }

    h1.page-title {
        color: #9623c8 !important;
    }
</style>

<head th:insert="/generics/header">
</head>

<body>
    <div th:insert="/admin/navegacion"></div>
    <div class="body-admin">
        <div class="container-admin">
            <h1 class="page-title">Sucursales</h1>
            <button id="createbranch" class="btn btn-principal fs-4 m-3 p-3" data-bs-toggle="modal"
                data-bs-target="#modalBranchesForm" onclick="GetInfo('add');">Agregar sucursal</button>
            <table class="table" id="branchesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Dueño</th>
                        <th>Apertura</th>
                        <th>Cierre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Dueño</th>
                        <th>Apertura</th>
                        <th>Cierre</th>
                        <th>Acciones</th>
                    </tr>
                </tfoot>
                <tbody id="tableBody">
                </tbody>
            </table>
            <div id="modalBranchesForm" class="modal fade">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content ">
                        <div class="modal-header">
                            <h1 class="page-title modal-title">Sucursal</h1>
                        </div>
                        <div class="modal-body" th:insert="/admin/branch/formulario-sucursal.html">
                            
                        </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
    </div>
</body>

<script src="/js/bootstrap/bootstrap.bundle.js"></script>
<script src="/js/jquery.dataTables.min.js"></script>
<script src="/js/jquery.timepicker.min.js"></script>
<script src="/js/admin.branch.js"></script>
<script src="/js/logout.js"></script>

</html>