<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>
<head th:insert="/generics/header"></head>
<body>
    <div th:insert="/owner/navegacion"></div>
    <div class="container-small">
        <h1>Agregar servicio</h1>
        <div class="solo-icono">
            <form action="/app/owner/servicios">
                <button class="btn-navegacion-barra">
                    <img class="login-img" src="/img/volver.webp"> Volver
                </button>
            </form>
        </div>
        <div class="formulario">
        	<div id="alertas"></div>
            <form  method="post">
                <label>
                    <input type="text" placeholder="Nombre del producto" id="nombre">
                    <span>Nombre del servicio</span>
                </label>
                <label>
                    <input type="time" placeholder="" id="duracion" value="00:00:00">
                    <span>Duración del servicio</span>
                </label>
                <label>
                    <input type="number" placeholder="" id="precio">
                    <span>Precio del servicio</span>
                </label>
                <button id="btn-agregar" class="btn-formulario btn-principal" type="button">Añadir</button>
            </form>
        </div>
    </div>
</body>
<script src="/js/logout.js"></script>
<script src="/js/service_create.js"></script>
</html>