<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>

<body>
    <div th:insert="/owner/navegacion"></div>
    <div class="container-small">
        <h1>Agregar servicio</h1>
        <div class="formulario">
            <form method="POST">
                    <label>
                        <input type="text" placeholder="Servicio">
                        <span>Servicio</span>
                    </label>
                    <label>
                        <input type="file" placeholder="Imagen">
                        <span>Imagen</span>
                    </label>
                    <label>
                        <input type="number" placeholder="Precio">
                        <span>Precio</span>
                    </label>
                    <label>
                        <input type="number" placeholder="Tiempo estimado">
                        <span>Tiempo estimado</span>
                    </label>
                    <button class="btn-secundario">Añadir</button>
            </form>
        </div> <!-- Formulario -->
    </div>
</body>
</html>