<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>
<body>
    <div class="owner-services">
        <div th:insert="owner/title"></div>
        <div>
            <div th:insert="owner/navegation"></div>
            <div class="btn-new-service">
                <button class="btn-principal">Agregar nuevo servicio</button>
            </div>
            <div class="title-services">
                <div class="center"><h1>Nombre</h1></div>
                <div class="center"><h1>Duracion</h1></div>
                <div class="center"><h1>Precio</h1></div>
                <div class="center"><h1>Acciones</h1></div>
            </div>
            <div class="show-services" id="mostrar-servicios"></div>
        </div>
    </div>
</body>
<!--<script src="/js/owner.js"></script>-->
<script src="/js/service.js"></script>
<script src="/js/owner-directions.js"></script>
</html>