<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>
<body>
    <div class="owner-services">
        <div th:insert="owner/title"></div>
        <div>
            <div th:insert="owner/navegation"></div>
            <div class="btn-new-service">
                <button class="btn-principal">Agregar nuevo servicio</button>
            </div>
            <div class="title-services">
                <div class="center"><h1>Nombre</h1></div>
                <div class="center"><h1>Duracion</h1></div>
                <div class="center"><h1>Precio</h1></div>
                <div class="center"><h1>Acciones</h1></div>
            </div>
            <div class="show-services" id="mostrar-servicios">
                <div class="service-registered">
                    <p>Corte de cabello hombre</p>
                    <p>30 min</p>
                    <p><span>$</span>40</p>
                    <div class="actions-services">
                        <button type="button" class="btn-update">Actualizar</button>
                        <button type="button" class="btn-remove">Eliminar</button>
                    </div>
                </div>
                <div class="service-registered">
                    <p>Corte de cabello hombre</p>
                    <p>30 min</p>
                    <p><span>$</span>40</p>
                    <div class="actions-services">
                        <button type="button" class="btn-update">Actualizar</button>
                        <button type="button" class="btn-remove">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="modal-overlay" id="modal-new-service">
        <div class="modal-form">
            <div class="volver-img">
                <button class="btn-volver-img">
                    <img class="filter" src="/img/volver.webp">
                </button>
            </div>
            <h1>Nuevo servicio</h1>
            <form  method="post">
                <div class="field">
                    <label class="filter" for="name">Nombre</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="field">
                    <label class="filter" for="time">Duración</label>
                    <input type="time" name="time" id="time" min="00:00">
                </div>
                <div class="field">
                    <label class="filter" for="price">Precio</label>
                    <input type="number" name="price" id="price" min="0">
                </div>
                <button id="btn-agregar" class="btn-principal" type="button">Añadir</button>
            </form>
        </div>
    </div> -->
</body>
<script src="/js/owner.js"></script>
<script src="/js/service_see.js"></script>
</html>