<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/genericos/header"></head>

<body>
    <div th:insert="/genericos/sidebar"></div>
    <div th:insert="/genericos/navegacion-dashboard"></div>
    <div class="admin">
        <div class="dashboard">
            <div class="ver-citas">
                <label class="text-center">Cliente</label>
                <label class="text-center">Teléfono</label>
                <label class="text-center">Servicio</label>
                <label class="text-center">Fecha</label>
                <label class="text-center">Hora</label>
                <label class="text-center">Acciones</label>
            </div>
            <div class="ver-citas">
                <p class="text-center">José Eduardo Valencia Camacho</p>
                <p class="text-center">4191208429</p>
                <p class="text-center">Corte de cabello</p>
                <p class="text-center">31 de Octubre del 2022</p>
                <p class="text-center">4:00 pm</p>
                <div>
                    <form>
                        <button>Lista</button>
                    </form>
                    <form>
                        <button>Eliminar</button>
                    </form>
                </div>
            </div>
        </div><!-- Dashboard -->
    </div> <!-- Admin -->
</body>
</html>