<!DOCTYPE html>
<html class="fondo-html" lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/genericos/header"></head>

<body>
    <div class="sidebar">
        <h1>Esthetic</h1>
    </div> <!-- Sidebar -->
    <div class="navegacion">
        <div class="nombre-usuario">
            <p class="text-center">José Eduardo Valencia Camacho</p>
        <div>
        </div>
        <div class="sucursal-nombre">
            <p class="text-center">Sucursal av guanajuato, doctor mora, guanajuato</p>
        </div>
        <div class="acciones">
            <form action="">
                <button class="btn-secundario">Editar usuario</button>
            </form>
            <form action="/">
                <button class="btn-secundario">Cerrar sesion</button>
            </form>
        </div>
    </div> <!-- Navegacion -->

    <div class="dashboard">
        
    </div><!-- Dashboard -->
</body>
</html>