<!DOCTYPE html>
<html lang=”es” xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:insert="/templates/generics/header.html"></head>

<body>
    <main>
        <div class="container-left-primary">
            <div class="container">
                <h1>Bienvenido a Esthetic Reservation</h1>
                <h3>La belleza aqui no es una imaginacion, ni fantasia, es real.</h3>
                <form action="/app/login" method="GET">
                    <div class="center">
                        <button id="btn-login" class="btn-secundario">Iniciar sesion</button>
                    </div>
                </form>
            </div>
            <div class="img-container-left">
                <img src="/img/servicio_corte.webp">
            </div>
        </div>
    </main>
    <footer>
        <div></div>
    </footer>
</body>
</html>