<!DOCTYPE html>
<html class="fondo-html" lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>

<body>
    <div class="container-small">
        <div class="seleccion-sucursal">
            <h1>Sucursales</h1>
            <div class="sucursal">
                <div class="sucursal-contenido">
                    <div class="nombre"></div>
                    <div class="info"></div>
                    <div class="mapa"></div>
                </div> <!-- Sucursal contenido-->
            </div> <!-- Sucursal -->
        </div>
    </div> <!-- container-small -->
</body>
<script src="/js/branch.min.js"></script>
</html>