<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header.html"></head>

<body>
    <main>
        <div class="container-left-primary">
            <div class="container">
                <h1>401 Unauthorized</h1>
                <h3>No tienes autorización realizar esa acción.</h3>
                <form action="/app/login" method="GET">
                    <div class="center">
                        <button id="btn-login" class="btn-secundario">Iniciar Sesión</button>
                    </div>
                </form>
                <form action="/app/" method="GET">
                    <div class="center">
                        <button id="btn-login" class="btn-secundario">Ir al Inicio</button>
                    </div>
                </form>
            </div>
            <div class="img-container-left">
                <img src="/img/servicio_corte.webp">
            </div>
        </div>
    </main>
    <footer>
        <div></div>
    </footer>
</body>
<!-- <script src="/js/login.js"></script> -->
</html>