<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

<body>
    <main>
        <div class="view_user">
            <div class="title">
                <h1 class="title-p">Información del usuario</h1>
                <img src="/img/Productos-venta.webp">
            </div>
            <div class="container-user">
                <div class="back-button">
                    <button class="btn-secundario" id="back">Volver</button>
                </div>
                <div class="model-user">
                    <p><i class="bi bi-person"></i>Nombre del usuario: <span>JEduardoVC</span></p>
                    <p><i class="bi bi-person"></i>Nombre: <span>José Eduardo</span></p>
                    <p><i class="bi bi-person"></i>Apellidos: <span>Valencia Camacho</span></p>
                    <p><i class="bi bi-person"></i>Número de telefono: <span>4191207249</span></p>
                    <p><i class="bi bi-person"></i>Direccion: <span>Salvatierra #9</span></p>
                    <p><i class="bi bi-person"></i>E-mail: <span>eduardo.valencia.camacho@gmail.com</span></p>
                    <p><i class="bi bi-person"></i>Contraseña: <span>***</span></p>
                    <p><i class="bi bi-person"></i>Repetir contraseña: <span>***</span></p>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/js/client_services.js"></script>
</html>
