<!DOCTYPE html>
<html class="fondo-html" lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/genericos/gen-login/header.html"></head>

<body>
    <main>
        <div class="container-small">
            <div class="ventana">
                <div class="img-ventana">
                    <img src="img/logo_logo.webp">
                </div>
                <div class="container-login">
                    <h1 class="titulo-login">Esthetic Reservation</h1>
                    <!--<p th:class="${alerta.tipo}" th:text="${alerta.mensaje}"></p>-->
                    <div class="formulario">
                        <form method="post">
                            <label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                                <span>Email</span>
                            </label>
                            <label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
                                <span>Contraseña</span>
                            </label>
                            <button type="submit" class="btn-principal">Iniciar sesión</button>
                        </form>
                    </div>
                    <div class="btns-auxiliares">
                        <div class="text-center">
                            <form method="get" action="registro">
                                <button type="submit" class="btn-secundario">Crear cuenta</button>
                            </form>
                        </div>
                        <div class="text-center">
                            <form method="get" action="olvidePassword.html">
                                <button type="submit" class="btn-secundario">Restablecer contraseña</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
</body>

</html>