<!DOCTYPE html>
<html lang=”es” class="html-auxiliar" xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header.html"></head>

<body>
    <main>
        <div class="navegacion-dark-mode">
            <button type="button" class="dark-mode-boton">DarkMode</button>
        </div>
        <div class="container-small">
            <div class="ventana-tab">
                <!--<img src="/img/Fondo_1.webp">-->
            </div>
            <div class="ventana">
                <div class="div-btn-volver">
                    <form action="/app">
                        <button class="btn-volver">Volver</button>
                    </form>
                </div>
                <div></div>
                <div class="img-ventana">
                    <img src="/img/logo.webp">
                </div>
                <div class="container-login">
                    <h1 class="text-primary">Esthetic Reservation</h1>
                    <div th:insert="/generics/alertas.html"></div>
                    <div class="formulario">
                        <form method="post">
                            <label>
                                <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                                <span>Username</span>
                            </label>
                            <label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña">
                                <span>Contraseña</span>
                            </label>
                            <button type="button" id="btn-login" class="btn-principal">Iniciar sesión</button>
                        </form>
                    </div>
                    <div class="btns-auxiliares">
                        <div class="text-center">
                            <form method="get" action="/app/registro">
                                <input type="hidden" value="cliente">
                                <button type="submit" class="btn-secundario">Crear cuenta</button>
                            </form>
                        </div>
                        <div class="text-center">
                            <form method="get" action="/app/olvidePassword">
                                <button type="submit" class="btn-secundario">Restablecer contraseña</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div></div>
    </footer>
</body>
<script src="/js/login.js"></script>
</html>