<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>
	<head th:insert="/genericos/header.html"></head>
	<body>
	    <div class="container-small">
	        <h1 class="m-5 p-5 text-primary text-center">Esthetic Reservation</h1>
	        <form method="post">
	            <div class="mb-3 mt-3 form-floating ">
	                <input type="text" class="form-control" name="email" id="email" placeholder="Ingrese su email">
	                <label for="email" class="">Email</label>
	            </div>
	            <div class="mb-3 form-floating">
	                <input type="password" class="form-control" name="password" id="password" placeholder="Ingrese su contraseña">
	                <label for="password" class="form-label">Password</label>
	            </div>
	            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
	        </form>
	        <div class="row mt-5">
	            <div class="col text-center">
	                <form method="get" action="registro.html">
	                    <button type="submit" class="btn btn-secondary">¿No tienes cuenta? Crea una!</button>
	                </form>
	            </div>
	            <div class="col text-center">
	                <form method="get" action="olvidePassword.html">
	                    <button type="submit" class="btn btn-secondary">¿Olvidaste tu contraseña? Reestablecela!</button>
	                </form>
	            </div>
	        </div>
	    </div>
	</body>
</html>