<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header.html"></head>

<body>
    <main>
        <div class="container-left-secondary">
            <div class="window-login">
                <div class="icon-back">
                <form action="/app/login">
                    <button class="btn-back">
                        <img id="back-btn" src="/img/flecha-izquierda.webp">
                    </button>
                </form>
            </div>
                <div class="logo-login">
                    <img src="/img/logo.webp">
                </div>
                <p class="text-primary text-justify">Para la recuperacion de la contraseña, se le enviara un email con las intrucciones
                    al email que ingrese en esta seccion</p>
                <form method="POST">
                    <label for="email">Email:</label>
                    <input id="email" type="email" name="email">
                    <button type="button" class="btn-principal width-100" id="btn-password">Continuar</button>
                </form>
            </div>
            <div class="img-container-left">
                <img src="/img/servicio_corte.webp">
            </div>
        </div>
    </main>
    <footer>
        <div></div>
    </footer>
</body>
<script src="/js/reestablecer.js"></script>
</html>