<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header.html"></head>

<body>
    <div class="container-small">
        <div class="ventana">
            <div class="container-login">
                <h1 class="text-center">Esthetic Reservation</h1>
                <div>
                    <form action="/">
                        <button type="submit" class="btn-secundario">Volver</button>
                    </form>
                </div>
                <div class="formulario">
                    <div th:insert="/generics/alertas.html"></div>
                    <form method="post" action="/registro">
                        <label>
                            <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Nombre">
                            <span>Nombre</span>
                        </label>
                        <label>
                            <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Apellidos">
                            <span>Apellidos</span>
                        </label>
                        <label>
                            <input type="tel" class="form-control" id="phone_number" name="phone_number" placeholder="Télefono">
                            <span>Télefono</span>
                        </label>
                        <label>
                            <input type="tel" class="form-control" id="email" name="email" placeholder="Email">
                            <span>Email</span>
                        </label>
                        <label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                            <span>Contraseña</span>
                        </label>
                        <label>
                            <input type="password" class="form-control" id="repeat_password" name="repeat_password" placeholder="Repetir contraseña">
                            <span>Repetir Contraseña</span>
                        </label>
                        <button type="submit" class="btn-principal">Registar</button>
                    </form>
                </div>
            </div>
            <div class="img-ventana">
                <img src="/img/logo.webp">
            </div>
        </div>
    </div>
</body>

</html>