<!DOCTYPE html>
<html lang=”es” class="html-auxiliar" xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header.html"></head>

<body>
    <main>
        <div class="navegacion-dark-mode luna">
            <img class="login-img dark-mode-boton" src="/img/luna.webp">
        </div>
        <div class="navegacion-dark-mode no-mostrar sol filtro-color">
            <img class="login-img ligth-mode-boton" src="/img/soleado.webp">
        </div>
        <div class="container-small">
            <div class="ventana">
                <div class="img-ventana">
                    <img src="/img/logo.webp">
                </div>
                <div class="container-login">
                    <h1 class="text-primary">Reestableciendo contraseña</h1>
                    <div id="alertas"></div>
                    <div class="formulario">
                        <form method="post">
							<label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="">
                                <span>Email</span>
                            </label>
                            <label>
                                <input type="password" class="form-control" name="password" id="password" placeholder="">
                                <span>Contraseña</span>
                            </label>
                            <label>
                                <input type="password" class="form-control" name="replyPassword" id="replyPassword" placeholder="">
                                <span>Repetir Contraseña</span>
                            </label>
                            <button type="button" id="btn-login" class="btn-principal">Reestablecer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/js/updatePassword.js"></script>
</html>