<nav class="nav-selection">
    <div class="logo-dashboard">
        <img src="/img/logo.webp">
    </div>
    <div class="shortcuts"> 
        <a href="/app/owner/citas" id="appointment" class="btn-shortcut" style="text-decoration: none;">Citas</a>
        <a href="/app/owner/servicios" id="appointment" class="btn-shortcut" style="text-decoration: none;">Servicios</a>
        <a href="/app/owner/inventario" id="appointment" class="btn-shortcut" style="text-decoration: none;">Inventario</a>
        <a href="/app/owner/validar/citas" id="appointment" class="btn-shortcut" style="text-decoration: none;">Verificar cita</a>
        <a href="/app/owner/personal" id="appointment" class="btn-shortcut" style="text-decoration: none;">Personal</a>
    </div>
    <div>
        <label for="select-branch">Sucursal actual:</label>
        <select name="select-branch" id="select-branch"></select>
    </div>
    <div class="user-interaction">
        <div class="user-animation">
            <button id="btn-editar-usuario">
                <img class="login-img" src="/img/login.webp">
            </button>
        </div>
        <div class="options-animation">
            <img src="/img/barras.webp">
            <div id="actions" class="actions">
                <div class="window-options">
                    <div class="option-menu luna" >
                        <img class="login-img dark-mode-boton" src="/img/luna.webp">
                        <p>Modo oscuro</p>
                    </div>
                    <div class="option-menu no-mostrar sol">
                        <img class="login-img ligth-mode-boton" src="/img/soleado.webp">
                        <p>Modo claro</p>
                    </div>
                    <div class="option-menu">
                        <button id="btn-cerrar-sesion" class="btn-logout" type="button">
                            <img src="/img/salir.webp">
                            <p>Cerrar sesion</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>