<div class="navegacion">

</div>
<div class="sidebar-owner">
    <h1>Esthetic</h1>
    <div class="sidebar-owner-btn">
        <form action="/app/owner">
            <button class="btn-principal">Ver citas</button>
        </form>
    </div>
    <div class="sidebar-owner-btn">
        <form action="/app/owner/servicios">
            <button class="btn-principal">Ver servicios</button>
        </form>
    </div>
    <div class="sidebar-owner-btn">
        <form action="/app/owner/inventario">
            <button class="btn-principal" type="submit">Ver inventario</button>
        </form>
    </div>
    <div class="sidebar-owner-btn">
        <form action="/app/owner/validar/citas">
            <button class="btn-principal" type="submit">Revisar cita</button>
        </form>
    </div>
    <div class="sidebar-owner-btn">
        <form action="/app/owner/personal">
            <button class="btn-principal" type="submit">Personal</button>
        </form>
    </div>
    <div class="solo-icono">
        <button id="btn-cerrar-sesion" class="btn-navegacion-barra" type="button">
            <img class="login-img" src="/img/salir.webp">
            <p>Cerrar sesion</p>
        </button>
    </div>
    <div class="solo-icono opciones-menu btn-navegacion-barra luna">
        <img class="login-img dark-mode-boton" src="/img/luna.webp">
        <p>Modo oscuro</p>
    </div>
    <div class="solo-icono opciones-menu btn-navegacion-barra no-mostrar sol">
        <img class="login-img ligth-mode-boton" src="/img/soleado.webp">
        <p>Modo claro</p>
    </div>
</div>