<div class="navegacion">

</div>
<div class="sidebar-owner">
    <h1>Esthetic</h1>
    <div class="sidebar-owner-btn">
        <form action="/owner/citas">
            <button class="btn-principal">Ver citas</button>
        </form>
    </div>
    <div class="sidebar-owner-btn">
        <form action="/owner/servicios">
            <button class="btn-principal">Ver servicios</button>
        </form>
    </div>
    <div class="sidebar-owner-btn">
        <form action="/owner/inventario">
            <button class="btn-principal">Ver inventario</button>
        </form>
    </div>
    <div class="cerrar-sesion">
        <form action="/">
            <button class="btn-secundario">Cerrar sesion</button>
        </form>
    </div>
</div> <!-- Sidebar -->