<div class="navegacion">

</div>
<div class="sidebar-owner">
    <h1>Esthetic</h1>
    <div class="sidebar-owner-btn">
        <form action="/app/owner">
            <button class="btn-principal">Ver citas</button>
        </form>
    </div>
    <div class="sidebar-owner-btn">
        <form action="/app/owner/servicios">
            <button class="btn-principal">Ver servicios</button>
        </form>
    </div>
    <div class="sidebar-owner-btn">
        <form action="/app/owner/inventario">
            <button class="btn-principal">Ver inventario</button>
        </form>
    </div>
    <div class="solo-icono">
        <button id="btn-cerrar-sesion" class="btn-navegacion-barra" type="button">
            <img class="login-img" src="/img/salir.webp"> Cerrar sesion
        </button>
    </div>
</div> <!-- Sidebar -->