<nav class="nav-selection">
    <div class="logo-nav">
        <img src="/img/logo.webp">
    </div>
    <div class="user-interaction-phone">
        <div class="option-menu-phone luna-phone" >
            <img class="login-img dark-mode-boton-phone filter" src="/img/luna.webp">
            <p>Modo oscuro</p>
        </div>
        <div class="option-menu-phone no-mostrar sol-phone">
            <img class="login-img ligth-mode-boton-phone filter" src="/img/soleado.webp">
            <p>Modo claro</p>
        </div>
        <div class="option-menu-phone">
            <button id="btn-cerrar-sesion-phone" class="btn-logout" type="button">
                <img src="/img/salir.webp" class="filter">
                <p>Cerrar sesion</p>
            </button>
        </div>
    </div>
    <div class="menu-phone no-mostrar" id="menuPhone">
        <img class="img-phone filter" src="/img/barras.webp">
        <div class="menu-shortCuts no-mostrar" id="menuShortCuts">
            <div class="shortcuts-menuPhone">
                <button id="appointment-phone" class="filter btn-shortcut-menuPhone">Citas</button>
                <button id="services-phone" class="filter btn-shortcut-menuPhone">Servicios</button>
                <button id="inventory-phone" class="filter btn-shortcut-menuPhone">Inventario</button>
                <button id="employees-phone" class="filter btn-shortcut-menuPhone">Empleados</button>
                <button id="validate_appointment-phone" class="filter btn-shortcut-menuPhone">Verificar</button>
            </div>
        </div>
    </div>
    <div class="shortcuts"> 
        <button id="appointment" class="btn-shortcut">Citas</button>
        <button id="services" class="btn-shortcut">Servicios</button>
        <button id="inventory" class="btn-shortcut">Inventario</button>
        <button id="employees" class="btn-shortcut">Empleados</button>
        <button id="validate_appointment" class="btn-shortcut">Verificar</button>
    </div>
    <div class="user-interaction">
        <div class="options-animation">
            <img src="/img/barras.webp" class="filter barras">
            <div id="actions" class="actions">
                <div class="window-options">
                    <div class="option-menu luna" >
                        <img class="login-img dark-mode-boton" src="/img/luna.webp">
                        <p class="filter">Modo oscuro</p>
                    </div>
                    <div class="option-menu no-mostrar sol">
                        <img class="login-img ligth-mode-boton" src="/img/soleado.webp">
                        <p class="filter">Modo claro</p>
                    </div>
                    <div class="option-menu">
                        <button id="btn-cerrar-sesion" class="btn-logout" type="button">
                            <img src="/img/salir.webp" class="">
                            <p class="filter">Cerrar sesion</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>