<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>
<body>
    <div class="owner-index">
        <div th:insert="owner/title"></div>
        <div>
            <div th:insert="owner/navegation"></div>
            <div class="title-appointment">
                <div class="center"><h1>Usuario</h1></div>
                <div class="center"><h1>Servicios</h1></div>
                <div class="center"><h1>Fecha y hora</h1></div>
                <div class="center"><h1>Acciones</h1></div>
            </div>
            <div id="show-appointment" class="citas"></div>
        </div>
    </div>
</body>
<script src="/js/owner.js"></script>
<script src="/js/logout.js"></script>
</html>