<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>

<body>
    <div th:insert="/owner/navegacion"></div>
    <div class="body-owner">
        <div class="container-owner">
            <h1>Modulo citas</h1>
            <div id="mostrar-citas" class="citas"></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet voluptas dolore odit nisi iusto! Commodi, earum voluptatum molestiae veniam pariatur neque accusantium itaque saepe, assumenda illum odio dolor corrupti excepturi.</p>
        </div>
    </div>
</body>
<!-- <script src="/js/owner.min.js"></script> -->
<script src="/js/logout.js"></script>
</html>