<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:insert="/generics/header"></head>

<body>
    <div class="owner-inventory">
        <div th:insert="owner/title"></div>
        <div>
            <div th:insert="owner/navegation"></div>
            <div class="btn-new-product">
                <button class="btn-principal">Añadir empleado</button>
            </div>
            <div class="title-inventory">
                <div class="center"><h1>Añadir Empleado</h1></div>
            </div>
            <div class="show-inventory" id="mostrar-productos">
                <div id="alertas"></div>
                <div th:insert="@{owner/employees/formulario-usuario.html}"></div>
            </div>
        </div>
    </div>
</body>
<script src="/js/owner.js"></script>
<script src="/js/owner.employees.add.js"></script>
</html>