<!DOCTYPE html>
<html lang=”es” xmlns:th=http://www.thymeleaf.org>

<head th:insert="/generics/header"></head>

<link rel="stylesheet" href="/css/vendor/datatables/datatables-dt.min.css">

<body>
    <style>
        .no-mostrar{
            display: none;
        }
        .mostrar{
            display: block;
        }
        .modal-overlay {
            overflow: auto;
        }
        .modal-overlay .modal-form {
            width: 60%;
        }
    </style>
    <div class="owner-employee">
        <div th:insert="owner/title"></div>
        <div>
            <div th:insert="owner/navegation"></div>
            <div class="header-employee">
                <div class="btn-new-service">
                    <button class="btn-principal" id="add-employee">Agregar empleado</button>
                </div>
                <div class="select-branch-admin">
                    <p>Sucursal: </p>
                    <select id="select-branch">
                    </select>
                </div>
            </div>
            <div class="title-employee">
                <div class="center"><h1>Nombre</h1></div>
                <div class="center"><h1>Numero de telefono</h1></div>
                <div class="center"><h1>Email</h1></div>
                <div class="center"><h1>Acciones</h1></div>
            </div>
            <div id="info-employees"></div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal-overlay" id="modal-new-service">
        <div class="modal-form">
            <div class="volver-img">
                <button class="btn-volver-img">
                    <img class="filter" src="/img/volver.webp">
                </button>
            </div>
            <div id="modal-header">
                <h1>Empleado</h1>
            </div>
            <div id="alertas"></div>
            <div id="modal-content" th:insert="/owner/employees/formulario-usuario">

            </div>
        </div>
    </div>
</body>
<script src="/js/vendor/datatables/datatables-dt.min.js"></script>
<script src="/js/owner.employees.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/owner-directions.js"></script>
</html>