<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Esthetic Reservations</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/Logo.webp" />
    <link href="/css/app.css" rel="stylesheet" type="text/css">
    <script src="/js/vendor/jquery/jquery-3.6.1.min.js" type="text/javascript"></script>
    <script src="/js/app.js" type="text/javascript"></script>
    <script src="/js/util.js" type="text/javascript"></script>
    <script src="/js/vendor/datatables/languageMX.js"></script>
    <script src="/js/ApiUtils.js"></script>
    <script src="https://unpkg.com/qrious@4.0.2/dist/qrious.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--<link href="/css/bootstrap.css" rel="stylesheet">-->
    <!--<script src="/js/bundle.min.js"></script>-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
    <script src="/js/vendor/sweetalert2/sweetalert2.all.min.js"></script>
</head>


<body>
    <div class="owner-inventory">
        <div class="title">
    <h1 class="title-p">Administrador</h1>
    <img src="/img/Productos-venta.webp">
</div>
        <div>
            <div th:insert="owner/navegation"></div>
            <div class="btn-new-product">
                <button class="btn-principal">Editar empleado</button>
            </div>
            <div class="title-inventory">
                <div class="center"><h1>Editar Empleado</h1></div>
            </div>
            <div class="show-inventory" id="mostrar-productos">
                <div id="alertas"></div>
                <div th:insert="@{owner/employees/formulario-usuario.html}"></div>
            </div>
        </div>
    </div>
</body>
<script src="/js/owner.js"></script>
<script src="/js/owner.employees.edit.js"></script>
</html>