<style>
    input.employee-field {
        border-style: solid;
        border-width: 0.1rem !important;
        border-color: black !important;
    }
</style>
<div class="formulario">

    <form id="usersForm" action="#" onsubmit="return false" method="POST" class="row g-3 my-2" novalidate>
        <input type="text" class="employee-field" id="user-username" name="user-username" placeholder="Nombre de usario"
            aria-label="username">
        <label for="user-username" class="form-label">Username</label>

        <input type="text" class="employee-field" id="user-name" name="user-name" placeholder="Nombre"
            aria-label="name">
        <label for="user-name" class="form-label">Nombre</label>
        <input type="text" class="employee-field" id="user-lastname" name="user-lastname" aria-label="lastName"
            placeholder="Apellidos">
        <label for="user-lastname" class="form-label">Apellidos</label>
        <input type="text" class="employee-field" id="user-address" name="user-address" aria-label="address"
            placeholder="Dirección">

        <label for="user-address" class="form-label">Dirección</label>
        <input type="email" class="employee-field" id="user-email" name="user-email" aria-label="email"
            placeholder="Correo">
        <label for="user-email" class="form-label">Correo</label>

        <input type="phone" class="employee-field" id="user-phone" name="user-phone" placeholder="Número de teléfono"
            aria-label="phoneNumber">
        <label for="user-phone" class="form-label">Teléfono</label>

        <input type="password" class="employee-field" id="user-password" name="user-password" aria-label="password"
            placeholder="Contraseña">
        <label for="user-password" class="form-label">Contraseña</label>

        <input type="password" class="employee-field" id="user-cpassword" name="user-cpassword"
            aria-label="cpassword" placeholder="Confirmar la contraseña">
        <label for="user-cpassword" class="form-label">Confirmar Contraseña</label>

        <div id="branches-checkboxes">
        </div>

        <button type="submit" id="btnAction" class="btn btn-principal">Confirmar</button>
    </form>
    <a href="/app/owner/personal"><button class="btn btn-secundario">Regresar</button></a>
</div>