<title>Esthetic Reservations</title>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courgette&family=Ubuntu&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="/img/Logo.webp" />
<link href="/css/app.css" rel="stylesheet" type="text/css">
<link href="/css/app.css" rel="stylesheet">
<script src="/js/app.min.js" type="text/javascript"></script>
<script src="/js/util.js" type="text/javascript"></script>
<!--<link href="/css/bootstrap.css" rel="stylesheet">-->
<!--<script src="/js/bundle.min.js"></script>-->